* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex; /* flexbox 적용 */
  flex-direction: column; /* 세로 방향 배치 */
  width: 100vw;
  min-height: 100vh;
  background: #fff;
}

.content {
  flex: 1; /* 가능한 모든 공간을 차지하도록 설정 */
  /* 필요하다면 여기에 추가 스타일링을 적용 */
}

.footer {
  /* 필요한 스타일링 (배경색, 패딩 등) */
  /* 푸터의 높이가 명확하게 정의되어야 합니다. 예: height: 50px; */
}
.body-content {
  transition: margin-top 0.3s; /* 부드러운 전환 효과 */
  /* 기타 필요한 스타일 */
}